<app-navbar></app-navbar>
<br>

 
 
<!--tabla nueva-->

<div class="container">
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="serch input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
    <input type="text" class=" form-control" aria-label="Small" id="search" placeholder="buscar un registro...">
  </div>
  <div class="table-responsive">
    <table class="table" id="tblDatos">
      <thead>
        <tr>
          <th  class="id">#</th>
          
         <th  class="cabezaras">Detalles</th>
          <th  class="cabezaras" style="text-align:center;"><i class="fa-solid fa-gears"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datatable" style="width: 100%;">
        <td class="id">{{ item.id_solicitud }}</td>
         <!-- <td>{{ item.solicitante }}</td>--> 
         
           <td>
            <div class="tarjeta">
              <p>Los articulos; 
                <b>{{item.descripcion}},</b> han sido entregados a <b> {{ item.nombreProvedor}}</b> el día <b>{{item.fechaSalida}}</b> con motivo de <b>{{item.motivo}}</b>. </p>
           
            </div>
         
    
    
    
           </td>
           <!-- <td>{{ item.motivo }}</td></td>--> 
           <!--  <td>{{ item.descripcion }}</td>--> 
        
         <!--  <td>{{ item.autorizador }}</td>--> 
          
          
          <div
            *ngIf="item.validarSalida !== ''; then thenBlock; else elseBlock"
          ></div>
          <ng-template #thenBlock>
            <td>
             
              <button
                type="bu"
                class="btn btn-primary"
                (click)="onSetData1(item); onUpdateSalida(solicitud)"
                disabled
              >
               Confirmar
              </button>
            </td>
          </ng-template>
          <ng-template #elseBlock>
            <div
            *ngIf="item.status2 === 'En reparación con'; then sale else nosale"
          ></div>
           <ng-template #sale>
            <td>
              
              <button
              
                type="bu"
                class="btn btn-primary"
                (click)="onSetData1(item); onUpdateSalida(solicitud)"
                
              >
              Confirmar
              </button>
            </td>
           </ng-template>
           <ng-template #nosale>
            <td>
              <button
              disabled
                type="bu"
                class="btn btn-primary"
                (click)="onSetData1(item); onUpdateSalida(solicitud)"
                
              >
              Confirmar
              </button>
            </td>
           </ng-template>
            
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="paginador"></div>
</div> 


<!--tabla nueva-->

