body{
    background-image: url('/assets/tools2.jpg');
    position: -webkit-sticky;  
    position: sticky;
}
.v1{
    position: -webkit-sticky;  
    position: sticky;
    top: 0;  z-index:1101;
    background-color: #afafaf;
}
.v2{
    background-color: #ffffffea;
}
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:rgba(194, 194, 194, 0.267);
    color:#efefef;
    height:60px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-125px;
    
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}
.f1{
    z-index:0;
}
.f1:hover{
    
        z-index:0;
    
}