<!-- <div class="container my-5">
  <h1 class="mb-3">editar</h1>
<div class="row">
  <div class="col-6">
    <form #form="ngForm" *ngFor="let item of datatable"  (click)="onUpdateMascota(solicitud)">
      <div class="mb3">
        <label for="id" class="form-label">Id</label>
      <input type="number" class="form-control" id="id" readonly name="id" [(ngModel)]="item.id_solicitud">
      </div>

      <div class="mb3">
        <label  class="form-label">NS</label>
      <input type="text" class="form-control" id="solicitante"  name="solicitante" [(ngModel)]="item.solicitante">
      </div>

      <button type="submit" class="btn btn-primary">save</button>
    </form>
  </div>
</div>
</div> -->



