<div class="navega card-header " *ngFor="let item of datatable">
    <a class="leter nav-link "  href="general"><i class="fa-solid fa-table"></i> Vista general > <i class="navs">Ticket número  {{ item.id_solicitud}}</i></a> 
  </div>
  
   <div class="card text-center">
    
    <div class="card-body" *ngFor="let item of datatable" >
      <h5 class="card-title">Datos de la Solicitud</h5>
      <hr>
      <p class="card-text">No. Solicitud:<b> {{item.id_solicitud}}</b></p>
      <p class="card-text">Solicitante<b> {{item.solicitante}}</b></p>
      <p class="card-text">Fecha Solicitud: <b> {{item.fechaSolicitud}}</b></p>
      <p class="card-text">Provedor: <b> {{item.proveedor}}</b></p>
      <p class="card-text">Motivo Salida: <b> {{item.motivo}}</b> </p>
      <p class="card-text">Cantidad: <b> {{item.cantidad}}</b></p>
      <p class="card-text">Unidad Medida: <b> {{item.unidadMedida}}</b> </p>
      <p class="card-text">Area: <b> {{item.area}}</b></p>
      <p class="card-text">Descripción: <b> {{item.descripcion}}</b></p>
      <p class="card-text">Observaciones: <b> {{item.observaciones}}</b></p>
      <p class="card-text"><b>{{item.statusAprovacion}}</b></p>
  
      
      
    </div>
    <div class="card-footer text-muted">
      Autoriza @Autorizador
    </div>
  </div>
   
  
  <!-- <div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="images/facebook-circle.png" width="32" height="32">
            <p><a href="https://www.facebook.com/programacionnet" target="_blank">Like Us on<br>Facebook</a></p>
        </li>
        <li>
            <img src="images/twitter-circle.png" width="32" height="32">
            <p><a href="https://twitter.com/noprog" target="_blank">Follow Us on<br>Twitter</a></p>
        </li>
        <li>
            <img src="images/gplus-circle.png" width="32" height="32">
            <p><a href="https://plus.google.com/programacionnet" target="_blank">Follow Us on<br>Google+</a></p>
        </li>
        <li>
            <img src="images/linkedin-circle.png" width="32" height="32">
            <p><a href="https://www.linkedin.com/company/programacionnet" target="_blank">Follow Us on<br>LinkedIn</a></p>
        </li>
        <li>
            <img src="images/youtube-circle.png" width="32" height="32">
            <p><a href="http://www.youtube.com/programacionnet" target="_blank">Subscribe on<br>YouYube</a></p>
        </li>
        <li>
            <img src="images/pin-circle.png" width="32" height="32">
            <p><a href="https://www.pinterest.com/programacionnet" target="_blank">Follow Us on<br>Pinterest</a></p>
        </li>
    </ul>
  </div> -->
